@charset "UTF-8";
:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza-claro: lightgray;
    --azul-escuro: darkblue;
    --azul: skyblue;
    --rosa: purple;
    --amarelo: yellow;
}
body {
    /*background-image: url(../imagens/wallpaper001.jpg);*/
    text-align: center;
}
div.quadrado {
    border: 2px solid var(--preto);
    background-color: var(--cinza-claro);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: inline-block;
}
div#q1 {
    background-color: var(--azul);
}
div#q2 {
    background-image: linear-gradient(to bottom, var(--preto), var(--cinza-claro), var(--azul));
}
div#q3 {
    background-image: url('../imagens/pattern003.png');
}
/* início do exercício 2 */
body.teste2 {
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 100px 100px;
    background-repeat: repeat-y;
}
/* início do exercício 3 */
div.bloco {
    background-image: url('../imagens/wallpaper003.jpg');
    height: 200px;
    border: 1px solid var(--preto);
    border-radius: 20px;
    margin: 10px;
}
div#qu1 {
    background-position: left top;
}
div#qu2 {
    background-position: left center;
}
div#qu3 {
    background-position: right bottom;
}
/* exercício 006 */
body.teste {
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 100px 100px;
    height: 98vh;
    border: 1px dashed var(--preto);
    background-repeat: no-repeat;
    background-position: right center;
}
/* exercício 005 */
body.teste1 {
    height: 98vh;
    background-image: url('../imagens/wallpaper003.jpg');
    background-position: center center;
}
/*exercício 006 */
body.teste6 {
    /*background-color: var(--preto);
    background-image: url('../imagens/wallpaper002.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    /* Shorthand - background 
    Color > image > position > repeat > [size não entra na shorthand] */
    background: var(--preto) url('../imagens/wallpaper002.jpg') center center no-repeat fixed;
    background-size: cover;
}
main {
    background-color: var(--branco);
    max-width: 400px;
    padding: 10px;
    text-align: justify;
    margin: auto;
    border: 1px solid var(--azul-escuro);
    border-radius: 15px;
}
/* início do exercício 07 */
section#container {
    background-image: url('../imagens/target001.png');
    background-size: 100% 100%;

    position: relative;
    height: 96vh;
    padding: 10px;
    background-color: var(--rosa);
}
article#conteudo {
    background-image: url('../imagens/target001.png');
    background-size: 100% 100%;
    position: absolute;
    height: 200px;
    width: 400px;
    background-color: var(--amarelo);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}