@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Tangerine:wght@400;700&display=swap');
@font-face {
    font-family: 'logo';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
}
:root {
    --cor-fonte-branco: #ffffff;
    --cor-fonte-preta: #000000; 
    --cor-de-fundo: #FFC0CB;
    --cor-do-menu: #e79fb1ea;
    --font-logo: 'Tangerine';
}
a {
    color: var(--cor-fonte-preta);
    text-decoration: none;
    font-family: sans-serif;
}
#logo {
    font-size: 2em;
    font-family: var(--font-logo);
    font-weight: bold;
}
#header {
    background: var(--cor-de-fundo);
    box-sizing: border-box;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;/* coloca uma espaçameto entre os elementos. */
}
#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a {
    background: var(--cor-do-menu);
    color: var(--cor-fonte-branco);
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
}
#menu a:hover {
    color: var(--cor-do-menu);
    border: solid 1px var(--cor-do-menu);
    background: var(--cor-fonte-branco);
}
#btn-mobile {
    display: none;
}
@media (max-width: 980px) {
    #btn-mobile {
        display: flex;
        padding: 0.5rem;
        font-size: 1em;
        border: 1px solid var(--cor-fonte-branco);
        border-radius: 5px;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger {
        display: block;
        color: var(--cor-fonte-branco);
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before {
        position: relative;
        content: '';
        display: block;
        background: currentColor;
        transition: .3s;
        width: 20px;
        height: 2px;
        margin: 5px 0 0 0;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    #menu {
        display: block;
        position: absolute;
        background: var(--cor-de-fundo);
        display: block;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        height: 0;
        width: 100%;
        top: 100px;
        right: 0;
        z-index: 1000;
    }
    #menu a {
        color: var(--cor-fonte-preta);
        background: var(--cor-de-fundo);
        border-bottom: 2px solid var(--cor-do-menu);
        padding: 1rem 0;
        margin: 0 1rem;
    }
    #nav.active #menu {
        visibility: visible;
        overflow-y: auto;
        height: calc(100vh - 100px);
    }
}
/* Início do destaques */
main .slide-container {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-de-fundo);
}
.slide-cotent {
    margin: 0 40px;
}
.card {
    border-radius: 25px;
    background-color: var(--cor-fonte-branco);
}
.card-image {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: var(--cor-fonte-branco);
    padding: 3px;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--cor-do-menu);
}
